html {
  color-scheme: dark;
}

* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  height: 100svh;
}

.calculator {
  min-height: 80svh;
  padding: 2rem;
  display: grid;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3),
    30px 30px 60px rgba(0, 0, 0, 0.3), inset 5px 5px 30px rgba(0, 0, 0, 0.3),
    inset -5px -5px 30px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  gap: 1.2rem;
}

.calculator > button {
    display: grid;
    place-content: center;
    --color: #333;
    isolation: isolate;
  position: relative;
  width: 7rem;
  height: 7rem;
  background-color: var(--color);
  background-image: linear-gradient(transparent,rgba(0,0,0,.7));
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0.7), 10px 20px 30px rgba(0, 0, 0,.5),
    0 0 7px rgba(0, 0, 0,.7),
    inset -.5rem 0 .5rem rgba(0, 0, 0, 0.2),
    inset 0 -.7rem .7rem rgba(0, 0, 0, 0.3)
    ;
    overflow: clip;
    cursor: pointer;
}

.calculator > button.plus{
    margin-top: .75rem;
    grid-row: span 2;
    height: 14rem;
}

.calculator > button::before{
    --overlay: rgba(0, 0, 0,.1);
    content: '';
    position: absolute;
    top: 7px;
    left: 10px;
    width: 5rem;
    height: 75%;
    border-radius: 7px;
    background: linear-gradient(90deg, #222222, #3b3b3b);
    z-index: -1;
    box-shadow: -.5rem -.5rem 1.5rem rgba(0, 0, 0, 0.2),
    1rem .5rem 1rem rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.calculator > button:active{
    filter: brightness(1.5);
}
.calculator > button.red{
    background: #f00;
}
.calculator > button.red::before{
    /* --overlay: rgba(255,255,255,.2); */
    background: linear-gradient(90deg, #d20000, rgba(255,255,255,.4));
    border-left: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    border-top: 1px solid rgba(255, 255, 255, .2);
}
.calculator > button > span{
    font-size: 1.5rem;
}

.calculator > input {
  background: #a4ac78;
  grid-column: span 4;
  width: calc(100% - 25px);
  position: relative;
  left: 10px;
  text-align: right;
  font-size: 1.5rem;
  padding: 1.5rem .5rem;
  border: none;
  outline: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-bottom:1.5rem ;
}
